/* In your CSS file */
.no-drag {
    -webkit-app-region: no-drag;
    user-select: auto;
    /* allow text selection */
}

.no-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}